- name: Install nginx 
  become: yes
  yum: name="nginx" state=present
- name: Set the port for nginx in the conf file.
  become: yes
  copy: 
    src: /Users/abishek.gupta/Projects/devops/app1/nginx.conf
    dest: /etc/nginx/conf.d/default.conf
- name: Restart the Nginx
  become: yes
  service: 
    name: nginx 
    state: started 
    enabled: yes